.auth {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  overflow-y: scroll;
  gap: 40px;
  scroll-behavior: smooth;
}

.auth p {
  margin: 0;
  font-size: 1.2em;
}

/* .auth button,
.auth input {
  font-size: 20px;
} */

.auth button {
  background-color: var(--default-color4_light2);
  color: #fff;
  padding: 10px 20px;
  /* border: none; */
  letter-spacing: 3px;
  border: 1px solid var(--default-color4_light1);
}

.auth button:hover {
  background-color: var(--default-color4_light1);
  cursor: pointer;
}

.auth input {
  color: var(--default-color4_shadow2);
}
.auth input:focus {
  outline: none;
}

.signin form,
.google form,
.signup form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 20px;
}
