.statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  gap: 20px;
  color: black;
}

.statistics h2,
.statistics p {
  border-radius: 20px;
  padding: 20px;
  margin: 0 auto 50px auto;
}

.statistics h2 {
  color: red;
}

.statistics p {
  color: #fff;
  background-color: var(--default-color1_light2);
  cursor: pointer;
  width: fit-content;
}

.statistics p:hover {
  background-color: var(--default-color1_light1);
}
