.gameMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 20%;

  font-size: 1.5em;
}

.info {
  /* margin-left: 20%; */
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info p {
  /* background-color: var(--default-color1_light2); */
  border-radius: 20px;
  padding: 10px 30px;
  min-width: fit-content;
  max-width: 600px;
  text-align: center;
  cursor: pointer;
}

.info p {
  background-color: var(--default-color1_light2);
  margin: 0;
}

.info p:hover {
  background-color: var(--default-color1_light1);
}

.btns {
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btns button {
  color: #fff;
  cursor: pointer;
  padding: 10px 30px;
  min-width: fit-content;
  max-width: 600px;
  background-color: var(--default-color1_light2);

  border: none;
  outline: none;
}

.btns button:hover {
  background-color: var(--default-color1_light1);
}
